/* Tema Claro */
:root {
    --cor-primaria-claro: #622F7A;
    --cor-secundaria-claro: #5C2C72;
    --cor-terciaria-claro: #49235A;
}

/* Tema Escuro */
:root.tema-escuro {
    --cor-primaria: #AC48EE;
    --cor-secundaria: #7F46A5;
    --cor-terciaria: #6D3686;
}


body {
    background-color: var(--cor-terciaria-claro);
    color: white!important;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow-y: hidden;
}

button { cursor: pointer; }

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.first, .second {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.second { margin-top: 100px; }

button {
    color: white;
    font-size: 20px;
    
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.616);
}

.btnSelect {
    background-color: var(--cor-primaria);
    padding: 20px 50px;
    
    border: none;
    border-radius: 10px;
}

.btnConvert {
    position: fixed;
    right: 15px;
    bottom: 20px;

    background-color: var(--cor-primaria);

    padding: 5px 20px;
    border: none;
    border-radius: 100px;
}

.arquivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    position: relative;
}

.arquivos .inputFile { display: none; }

.arquivos .tamanhoArquivo { margin-left: 10px; }

.arquivos button {
    background-color: red;
    border: none;
    border-radius: 5px;

    width: 30px;
    height: 30px;
    padding: 0;
    
    margin-left: 10px;
}

.arquivo {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 250px;
}